/*Add custom styles to the main container*/

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.profile-card{
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-info img{
    width: 200px;
    height: 200px;
    border: 5px solid #fff; /*add white border*/
    border-radius: 50%; /*Make it round*/
    object-fit: cover; /*Maintain aspect ration and cover the quare*/

}

.profile-info h2{
    margin: 10px 0;
    font-size: 24px;
}


.profile-info p{
    margin: 5px 0;
    font-size: 18px;
}

.social-links a{
    display: inline-block;
    margin: 0 10px;
    color: #333;
    font-size: 24px;
    transition: color 0.3s case-in-out;
}

.social-links a:hover{
    color: #0077b5;
}

/*Add responsiveness for smaller screens*/

@media screen and (max-width: 768px){
    .profile-info img{
        max-width: 80px;
    }

    .profile-info h2{
        font-size: 20px;
    }

    .profile-info p {
        font-size: 16px;
    }

    .social-links{
        margin-top: 10px;
    }

    .social-links a{
        font-size: 20px;
    }
}